body {
    margin: 0 auto;
    background-color: orange;
}


.cabecera {
    height: 7em;
    background-color: rgb(66, 66, 66);
}

.fotos-colaboracion {
    width: 5em;
    height: 5em;
    display: inline-table;
}

#titulo  {width: 20em;
height: 5em;
position: absolute;
top: 0em;
display: inline-table;
font-family: 'Bungee Shade', cursive;
color: orange}

#foto-car {width: 5em;
height: 5em;
position: relative;
display: inline-table;}

#logo {
    width: 12em;
}

#app-foto {width: 15em;
height: 5em;
position: absolute;
right: 0em;
top: 1em;
display: inline-table;
}

.cuerpo{ border: thin solid;
margin: 0 auto;
width: 80%;
height: 38em;
background-color: palegoldenrod;}
